# Added from https://raw.githubusercontent.com/github/gitignore/master/Global/Linux.gitignore
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
/bin/*
!/bin/dircolors

# Added from https://raw.githubusercontent.com/github/gitignore/master/Global/Vim.gitignore
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
Session.vim
.netrwhist
tags
.config/dein/state_vim.vim
.config/configstore

# Added from https://raw.githubusercontent.com/github/gitignore/master/Ruby.gitignore
*.gem
*.rbc
!/.config
/.config/.slack_memo_profile
/.config/cache
/.config/dein/cache*
/.config/dein/.cache
/.config/dein/repos
/.config/dein/state_nvim.vim
/.config/dein/state_vi.vim
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/spec/examples.txt
/test/tmp/
/test/version_tmp/
/tmp/
.dat*
.repl_history
build/
*.bridgesupport
build-iPhoneOS/
build-iPhoneSimulator/
/.yardoc/
/_yardoc/
/doc/
/rdoc/
/.bundle/
/vendor/bundle
/lib/bundler/man/
.rvmrc
.git.local
.config/fillin
.config/hub
/.config/pgcli
shell/export.local.sh
.pryrc
.envrc
/.config/direnv/allow
/.config/gocode
